<!DOCTYPE html>
<html>
<head>
  <title>Free QR Code Generator</title>
</head>
<body>
  <h1>Enter URL</h1>
  <form action="/" method="post">
    <input type="text" id="text" name="text">
    <input type="submit" value="Submit">
    <br>
    <input type="checkbox" id="checkbox" name="skipurlvalidate" value="checked">
    <label for="checkbox">Skip URL validate</label>
  </form>

  {% if filename %}
  <div style="padding:10px;">
    <img src="{{ filename }}">
  </div>
  {% endif %}

  {% if url %}
    <p>your url -->  <b>{{ url }}</b></p>
  {% endif %}


<style>  
.footer {  
position: fixed;  
left: 10px;   
bottom: 25px;  
right: 10px;   
width: 95%;  
text-align: center;  
}  
</style>  

<div class="footer">
  <center><a href="https://linkedin.com/in/glenyu" target="_blank"> LinkedIn </a>&nbsp&nbsp&nbsp<a href="https://medium.com/google-cloud/deploying-a-containerized-qr-code-generator-app-on-google-cloud-run-07f65c3daf26" target="_blank"> Medium </a>&nbsp&nbsp&nbsp<a href="https://github.com/Neutrollized/qrcoder" target="_blank"> GitHub </a></center>
  <center><a href="https://cloud.google.com/"> Powered by Google Cloud </a></center>
</div>

</body>
</html>
